nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: $nav-color;
  color: $nav-text-color;
  height: $nav-height;

  h1 {
    margin: 0 50px;
  }

  ul {
    margin: 0 40px;
    list-style-type: none;

    li {
      display: inline-block;
      margin: 0 10px;

      a {
        color: $nav-text-color;
        text-decoration: none;
      }

      :hover {
        color: $primary-color;
      }
    }
  }

  .mobile {
    display: none;
  }
}

#showBtn {
  cursor: pointer;
}

@for $i from 1 through 5 {
  .item-color-#{$i} {
    background-color: rgba(60 + $i * 10, 60 + $i * 10, 60 + $i * 10);
  }
}

.ac {
  color: $primary-color;
}

@media screen and(max-width: 860px) {
  nav {
    .main {
      display: none;
    }

    .mobile {
      display: block;

      p {
        margin: 0 50px;
        font-size: 25px;
      }

      ul {
        display: none;
      }

      .show {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: $nav-height;
        margin: 0;
        padding: 0;
        background-color: $mobile-menu-color;

        li {
          display: block;
          padding: 5px;
          text-align: center;
          margin: 0;
        }

        :first-child {
          padding-top: 10px;
        }

        :last-child {
          padding-bottom: 10px;
        }
      }
    }
  }
}
