//Main variables
$primary-color: orange;
$secondary-color: green;

//Nav variables
$nav-color: #333;
$nav-text-color: white;
$nav-height: 70px;

//Other
$mobile-menu-color: #444;
$background-image-color: rgba(0, 0, 0, 0.6);









/*

$primary-color: #00b8ff;

 */

