@import "variables";
@import "main-page";
@import "nav";
@import "work-page";
@import "gallery-page";
@import "contact-page";
@import "btn";
@import "about-page";

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, serif;
}

body {
  background-color: #ddd;
}
