@import "variables";
@import "main-page";
@import "nav";
@import "work-page";
@import "gallery-page";
@import "contact-page";
@import "btn";

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, serif;
}

body {
  background-color: #ddd;
}

//---------media--------
@media(max-width: 1050px) {
  .work {
    .card {
      margin: 5px 15px;
    }
  }
}


@media screen and(max-width: 860px) {
  nav {
    .main {
      display: none;
    }

    .mobile {
      display: block;

      p {
        margin: 0 50px;
        font-size: 25px;
      }

      ul {
        display: none;
      }

      .show {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: $nav-height;
        margin: 0;
        padding: 0;
        background-color: $mobile-menu-color;

        li {
          display: block;
          padding: 5px;
          text-align: center;
          margin: 0;
        }

        :first-child {
          padding-top: 10px;
        }

        :last-child {
          padding-bottom: 10px;
        }
      }
    }
  }

  .contact {
    .m {
      .map {
        margin-top: 25px;
      }
    }
  }
}
